<form [formGroup]="form" (ngSubmit)="submit()">

    <div class="mb-24">
        <mat-button-toggle-group formControlName="type">
            <mat-button-toggle [value]="transactionTypes.INCOME">Receita</mat-button-toggle>
            <mat-button-toggle [value]="transactionTypes.OUTCOME">Despesa</mat-button-toggle>
            
            @if (form.controls.type.hasError('required') && form.controls.title.touched) {
                <mat-error>Campo obrigatório!</mat-error>
            }
        </mat-button-toggle-group>
    </div>

    <mat-form-field class="w-100 mb-24">
        <mat-label>Título</mat-label>
        <input matInput placeholder="Digite o título da transação." formControlName="title" required />
        @if (form.controls.title.hasError('required') && form.controls.title.touched) {
        <mat-error>Campo obrigatório!</mat-error>
        }
    </mat-form-field>


    <mat-form-field class="w-100 mb-24">
        <mat-label>Valor</mat-label>
        <input matInput  placeholder="Digite o valor da transação." formControlName="value" required mask="separator.2" />
        <span matTextPrefix>R$ &nbsp;</span>
        @if (form.controls.title.hasError('required') && form.controls.title.touched) {
        <mat-error>Campo obrigatório!</mat-error>
        }
    </mat-form-field>

    <div class="submit-container">
        <button 
            type="submit" 
            mat-flat-button="filled"
            [disabled]="form.invalid"
        >
            Salvar
        </button>
    </div>

    {{form.value | json}}
</form>